{% set default_port = catchall.default.port %}
server {
    listen [::]:{{ default_port }} default_server ipv6only=on;
    listen 0.0.0.0:{{ default_port }} default_server;
    server_name _;
    root /var/www/;
    location / {
        return 503;
    }
}
{% for app_name, details in app.items() %}

upstream {{ app_name }} {
    server 127.0.0.1:{{ details['runtime_port'] }};
}

{% set port = catchall[details['catchall']]['port'] %}
server {
    listen [::]:{{ port }};
    listen 0.0.0.0:{{ port }};
    {% for name in details['fqdn'] %}
    server_name {{ name }};
    {% endfor %}

    {% if '/' not in details['path_based_access_restriction'] %}
    location / {
      proxy_pass http://{{ app_name }};
    }
    {% endif %}

    {% for path, ips in details['path_based_access_restriction'].items() %}
    location {{ path }} {
        proxy_pass http://{{ app_name }};
        {% for ipallowed in ipfilter[ips['ipfilter']] %}
        allow {{ ipallowed }};
        {% endfor %}
        deny all;
    }
    {% endfor %}
}
{% endfor %}
